nav {
    background: linear-gradient(to top right, rgba(240, 240, 240, 0), rgba(240, 240, 240, 1));
}

.banner {
    margin-top: -126px;
    z-index: -1;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    background: linear-gradient(to bottom left, rgba(240, 240, 240, 0), rgba(240, 240, 240, 1));
}

.icon {
    width: 32px;
    height: 32px;
}

.icon-lg {
    width: 36px;
    height: 36px;
}

.dropdown-item.active {
    background-color: rgb(128, 128, 128);
}

:root {
    --font-family-sans-serif: Garamond;
}

body {
    font-family: Garamond;
}

.tooltip {
    font-family: Garamond;
}

.popover {
    font-family: Garamond;
}

.banner-h {
    font-family: 'Shadows Into Light', cursive;
}
