{{ define "banner-tmpl" }}
<div class="position-relative banner">
  <img src="{{ template "banner-img" . }}" alt="{{ template "banner-img" . }}" class="w-100 d-none d-lg-inline-block">
  <img src="{{ template "banner-img-mobile" . }}" alt="{{ template "banner-img-mobile" . }}" class="w-100 d-inline-block d-lg-none">
  <div class="{{ block "banner-class" . }}{{ end }} position-absolute text-center center w-100">
    <h1 class="banner-h mt-5">{{ block "banner-h1" . }}{{ end }}</h1>
    <h3 class="banner-h">{{ block "banner-h2" . }}{{ end }}</h3>
  </div>
</div>
{{ end }}
