{{ define "banner-h1" }}Whole Body Wellness{{ end }}
{{ define "banner-h2" }}Chris Pinones, FNP{{ end }}
{{ define "banner-img" }}{{ call .URL "/img/banners/home.jpg" }}{{ end }}
{{ define "banner-img-mobile" }}{{ call .URL "/img/banners/home-mobile.jpg" }}{{ end }}
{{ define "banner-class" }}text-white{{ end }}
{{ define "banner" }}
{{ template "banner-tmpl" . }}
{{ end }}

{{ block "content" . }}
<div class="my-5">
  <p>I am Chris Pinones, a nurse practitioner and health coach in Bryan/College Station. I believe in the practice of Integrated Medicine, which integrates all aspects of life into the process of healing, including diet, exercise, meditation, and the science of modern medicine.</p>
  <div class="container-md">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6">
	<div id="carousel" class="carousel slide" data-ride="carousel">
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	      <img src="{{ call .URL "/img/home-carousel-1.png" }}" class="d-block w-100" alt="Chris Pinones Nurse Practitioner">
	    </div>
	    <div class="carousel-item">
	      <img src="{{ call .URL "/img/home-carousel-2.png" }}" class="d-block w-100" alt="Chris Pinones yoga instructor">
	    </div>
	  </div>
	  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
      </div>
    </div>
  </div>
  <p class="pt-5">To schedule an appointment or consultation, please <a href="{{ call .URL "/contact/" }}">contact me</a>.</p>
</div>
{{ end }}
